.container-small-card {

    display: flex;
    flex-direction: row;

}

.container-small-card img {

    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;


}

.link-image {

    width: 40%;
    margin-right: 1rem;


}

.content {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.content > span {

    color: #505050;
    margin: -1rem 0 .5rem 0;

}

.content > h1 {

    font-size: 1.4rem;
    margin-right: 1rem;

}
.content > h1:hover {

    text-shadow: 1px 1px 1px #808080;

}

hr {
    margin-top: 2rem;
    border-color: #000;
}