.main-container {

    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;

}

.container-menu-bar {

    display: flex;
    padding: 1rem 0;
    justify-content: space-between;

}

.container-menu-bar > a > h1:hover{

    text-shadow: 1px 1px 5px #808080;

}

.container-menu-bar > div {

    display: flex;
    align-items: center;

}

.container-menu-bar > div > ul{

    margin: 0 auto;
    display: flex;
    gap: 1.5rem;

}

.container-menu-bar > div > ul > li{

    font-size: 1.1rem;

}
.container-menu-bar > div > ul > li:hover{

    text-shadow: 2px 2px 7px #808080;

}