<div class="main-container" id="menu">
    <div class="container-menu-bar">
        <a routerLink="">
            <h1>HOME</h1>
        </a>
        <div>
            <ul>
                <li><a href="https://www.linkedin.com/in/caio-rodri/" target="_blank">
                    <img src="../../../assets/logo-linkedin.png" alt="" srcset="">
                </a></li>
                <li><a href="https://github.com/caiorodri" target="_blank">
                    <img src="../../../assets/logo-github.png" alt="" srcset="">
                </a></li>
                <li><a href="#" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/560/560216.png" alt="" srcset="">
                </a></li>
            </ul>
        </div>
    </div>
    <hr>
</div>
