.container > hr{

    margin: 1rem auto;
    border-color: #000;
    width: 80%;
}

.container > h1 {

    color: #fff;
    padding: 1rem 0;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    
}
